@mixin dropdownIcon($value, $color_border, $color_bg) {
  &::before, &::after {
    border-left : $value solid transparent;
    border-right: $value solid transparent;
    content: '';
    display: inline-block;
    position: absolute;
    right: $value * 5;
  }

  &::before {
    border-bottom: $value * 1.2 solid $color_border;
    top: -$value * 1.2;
  }

  &::after {
    border-bottom: $value solid $color_bg;
    top: -$value * .8;
  }
}


._-user_menu {
  display: inline;
  text-align: right;
  transition: 100ms;

  &__toggle {
    display: inline;

    &:after {
      display: inline-flex;
      border-bottom: 0;
      border-top: .25em solid;
      border-left: .25em solid transparent;
      border-right: .25em solid transparent;
      content: '';
      height: 0;
      margin-left: .1em;
      width: 0;
    }

    &:hover:after {
      opacity: 0.5;
    }

    &__icon {
      cursor: pointer;
      height: 1.75em;
      width: 1.75em;
    }
  }

  &__container {
    height: 0;

    &--hidden {
      display: none !important;
    }
  }

  &__list {
    @include dropdownIcon(.3em, lightgray, white);
    background: white;
    border: .05em lightgray solid;
    border-radius: .3em;
    color: initial;
    display: inline-block;
    font-size: 0.8em;
    list-style-type: none;
    margin: 0;
    max-width: 15em;
    min-width: 12em;
    padding: .5em 0;
    position: relative;
    text-align: initial;
    top: .6em;
    z-index: 1099;
  }

  &__item {
    cursor: pointer;
    padding: .4em 1.4em;
    transition: 100ms;

    &:hover {
      background-color: dodgerblue;

      & a {
        color: white;
        display: block;
        text-decoration: none;
        width: 100%;
      }
    }

    &--title {
      font-weight: bold;
      padding: .4em 1.4em;
    }

    &--divider {
      background-color: white;
      border-bottom: 1px lightgray solid;
      height: 0;
      margin: .4em 0;
    }
  }
}
