._-nav {
  background-color: #232a3d;
  color: white;

  div[data-sticky-topped=true] & {
    background-color: rgba(whitesmoke, .95);
    color: #232a3d;
  }

  & div > a {
    color: inherit;

    &:hover {
      opacity: .75;
      transition: .25s;
    }
  }

  &__link {
    font-size: small;
    padding: 0 .5em;
    margin: 0 .5em;
    text-transform: uppercase;

    &--active {
      border-bottom: 2px solid white;
      padding-bottom: .25em;
    }

    div[data-sticky-topped=true] & {
      font-weight: bold;

      &--active {
        border-bottom: 2px solid #0074D9;
      }
    }
  }

  &__left-menu a {
    text-decoration: none;

    &:first-child {
      margin-right: 2.5em;
    }
  }

  &__right-menu {
    text-align: right;
  }
}

._-button--signin {
  background-color: rgba(whitesmoke, .1);
  border: none;
  color: #fff;
  text-transform: uppercase;
  transition: none;
  width: 5.5em;

  &:hover {
    background: rgba(whitesmoke, .95);
    color: #232a3d;
    transition: .25s;
  }

  div[data-sticky-topped=true] & {
    color: #232a3d;

    &:hover {
      background: rgba(#232a3d, .1);
    }
  }

  & a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    font-size: .85rem;

    &:hover {
      text-decoration: none;
    }
  }
}
