@mixin trianglePin($value, $color_border, $color_bg) {
  &::before, &::after {
    border-left : $value solid transparent;
    border-right: $value solid transparent;
    right: $value * 5;
    content: '';
    display: inline-block;
    position: absolute;
  }
  &::before {
    border-bottom: $value * 1.2 solid $color_border;
    top: -$value * 1.4;
  }
  &::after {
    border-bottom: $value solid $color_bg;
    top: -$value * .8;
  }
}

._-dropdown {
  text-align: right;
  z-index: 1002;
  transition: 100ms;
  &__toggle {
    &:after {
      content: '';
      height: 0;
      width: 0;
      display: inline-flex;
      border-bottom: 0;
      border-top: .25em solid;
      border-left: .25em solid transparent;
      border-right: .25em solid transparent;
      margin-left: .1em;
    }
    &:hover:after {
      opacity: 0.5;
    }
    &__icon {
      cursor: pointer;
      height: 1.75em;
      width: 1.75em;
    }
  }
  &__menu {
    color: initial;
    text-align: initial;
    font-size: 0.8em;
    height: 0;
    &_hidden {
      display: none !important;
    }
    &__box {
      @include trianglePin(.3em, lightgray, white);
      list-style-type: none;
      background: white;
      border: .05em lightgray solid;
      border-radius: .3em;
      display: inline-block;
      position: relative;
      top: .6em;
      padding: .5em 0;
      margin: 0;
      min-width: 12em;
      max-width: 15em;
    }
    &__item {
      cursor: pointer;
      transition: 100ms;
      padding: .4em 1.4em;
      &:hover {
        color: white;
        background-color: dodgerblue;
      }
      &--title {
        font-weight: bold;
        padding: .4em 1.4em;
      }
      &--divider {
        background-color: white;
        border-bottom: 1px lightgray solid;
        margin: .4em 0;
        height: 0;
      }
    }
  }
}
