header nav {
    font-size: 0.85rem;
    font-weight: 600;
}

footer {
    color: #afafaf;
}

footer #siteMap a {
    color: inherit;
}

footer #siteMap a::before {
    color: rgba(128, 128, 128, 0.2);
    padding-right: 5px;
}

footer #siteMap a:hover, footer #siteMap a:hover::before {
    color: #3d9970;
    text-decoration: none;
}

footer #misc {
    border-top: 2px solid rgba(128, 128, 128, 0.2);
}

footer #misc #copyright {
    color: inherit;
    font-size: 0.85rem;
}

footer #misc #licence {
    color: #757575;
    font-size: 0.80rem;
}

footer #misc #licence a {
    color: inherit;
    text-decoration: underline;
}

footer #misc #licence a:hover {
    color: #afafaf;
}

footer #misc #socialLinks a {
    color: inherit;
    display: inline-block;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    padding-top: 0.5rem;
    height: 35px;
    width: 35px;
    transition: .3s;
}

footer #misc #socialLinks a.fa-github:hover {
    background: #3d9970;
    color: #fff;
    transition: .3s;
}

footer #misc #socialLinks a.fa-facebook-official:hover {
    background: #3b5998;
    color: #fff;
    transition: .3s;
}

footer #misc #socialLinks a.fa-rss:hover {
    background: #f26522;
    color: #fff;
    transition: .3s;
}
