header nav {
    font-size: 0.85rem;
    font-weight: 600;
}

header nav .dropdown-toggle {
    outline: none;
}

header nav .dropdown-toggle img {
    height: 25px;
    width: 25px;
}

header nav .dropdown-menu-right {
    font-size: inherit;
    text-transform: none;
    max-width: 175px;
}

header nav .dropdown-menu-right::before, header nav .dropdown-menu-right::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 20px;
}

header nav .dropdown-menu-right::before {
    border-bottom: 6px solid rgba(0, 0, 0, 0.2);
    top: -7px;
}

header nav .dropdown-menu-right::after {
    border-bottom: 6px solid #FFF;
    top: -6px;
}

header nav .dropdown-item:focus, header nav .dropdown-item:hover, header nav .dropdown-item:active {
    background: #0074D9;
    color: #FFF;
    transition: 175ms;
}

footer {
    color: #afafaf;
}

footer #siteMap a {
    color: inherit;
}

footer #siteMap a::before {
    color: rgba(128, 128, 128, 0.2);
    padding-right: 5px;
}

footer #siteMap a:hover, footer #siteMap a:hover::before {
    color: #3d9970;
    text-decoration: none;
}

footer #misc {
    border-top: 2px solid rgba(128, 128, 128, 0.2);
}

footer #misc #copyright {
    color: inherit;
    font-size: 0.85rem;
}

footer #misc #licence {
    color: #757575;
    font-size: 0.80rem;
}

footer #misc #licence a {
    color: inherit;
    text-decoration: underline;
}

footer #misc #licence a:hover {
    color: #afafaf;
}

footer #misc #socialLinks a {
    color: inherit;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    height: 35px;
    width: 35px;
    transition: 175ms;
}

footer #misc #socialLinks a.fa-facebook-official:hover {
    background: #3b5998;
    color: #FFF;
    transition: 175ms;
}

footer #misc #socialLinks a.fa-linkedin:hover {
    background: #0077b5;
    color: #FFF;
    transition: 175ms;
}

footer #misc #socialLinks a.fa-twitter:hover {
    background: #00aced;
    color: #FFF;
    transition: 175ms;
}

footer #misc #socialLinks a.fa-github:hover {
    background: #3d9970;
    color: #FFF;
    transition: 175ms;
}

footer #misc #socialLinks a.fa-rss:hover {
    background: #f26522;
    color: #FFF;
    transition: 175ms;
}
