._-pagination {
  background: whitesmoke;
  border-radius: 0.3em;
  color: dimgray;
  display: inline-flex;
  flex-direction: column;
  height: 2em;
  justify-content: center;
  margin: 0.2em;
  text-align: center;
  transition: 250ms;
  width: 2em;

  &:hover {
    background: dodgerblue;
    color: white;
    text-decoration: none;
  }

  &--active {
    background: dimgray;
    color: whitesmoke;
  }

  &__icon {
    color: #BBB;
    margin: 0 .5em;
  }
}
