._-pagination {
  background: whitesmoke;
  border-radius: 0.3em;
  color: dimgray;
  display: inline-flex;
  flex-direction: column;
  height: 2em;
  justify-content: center;
  margin: 0.2em;
  text-align: center;
  transition: 250ms;
  width: 2em; }
  ._-pagination:hover {
    background: dodgerblue;
    color: white;
    text-decoration: none; }
  ._-pagination--active {
    background: dimgray;
    color: whitesmoke; }
  ._-pagination__icon {
    color: #BBB;
    margin: 0 .5em; }

._-dropdown {
  display: inline;
  text-align: right;
  transition: 100ms; }
  ._-dropdown__toggle {
    display: inline; }
    ._-dropdown__toggle:after {
      display: inline-flex;
      border-bottom: 0;
      border-top: .25em solid;
      border-left: .25em solid transparent;
      border-right: .25em solid transparent;
      content: '';
      height: 0;
      margin-left: .1em;
      width: 0; }
    ._-dropdown__toggle:hover:after {
      opacity: 0.5; }
    ._-dropdown__toggle__icon {
      cursor: pointer;
      height: 1.75em;
      width: 1.75em; }
  ._-dropdown__menu {
    color: initial;
    font-size: 0.8em;
    height: 0;
    text-align: initial; }
    ._-dropdown__menu--hidden {
      display: none !important; }
    ._-dropdown__menu__box {
      background: white;
      border: .05em lightgray solid;
      border-radius: .3em;
      list-style-type: none;
      display: inline-block;
      margin: 0;
      max-width: 15em;
      min-width: 12em;
      padding: .5em 0;
      position: relative;
      top: .6em;
      z-index: 1099; }
      ._-dropdown__menu__box::before, ._-dropdown__menu__box::after {
        border-left: 0.3em solid transparent;
        border-right: 0.3em solid transparent;
        content: '';
        display: inline-block;
        position: absolute;
        right: 1.5em; }
      ._-dropdown__menu__box::before {
        border-bottom: 0.36em solid lightgray;
        top: -0.36em; }
      ._-dropdown__menu__box::after {
        border-bottom: 0.3em solid white;
        top: -0.24em; }
    ._-dropdown__menu__item {
      cursor: pointer;
      padding: .4em 1.4em;
      transition: 100ms; }
      ._-dropdown__menu__item:hover {
        background-color: dodgerblue; }
        ._-dropdown__menu__item:hover a {
          color: white;
          display: block;
          text-decoration: none;
          width: 100%; }
      ._-dropdown__menu__item--title {
        font-weight: bold;
        padding: .4em 1.4em; }
      ._-dropdown__menu__item--divider {
        background-color: white;
        border-bottom: 1px lightgray solid;
        height: 0;
        margin: .4em 0; }

._-search {
  display: inline;
  float: unset;
  position: relative;
  top: .25em;
  z-index: 1098; }
  ._-search svg {
    cursor: pointer; }
  ._-search__bar {
    background: rgba(34, 34, 34, 0.95);
    padding-bottom: .8em;
    padding-top: .8em;
    position: fixed;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100; }
    ._-search__bar *:focus {
      outline: none; }
    ._-search__bar input {
      background: none;
      border: none;
      color: white;
      font-size: larger;
      width: 95%; }
    ._-search__bar button {
      background: none;
      border: none;
      color: #999;
      float: right;
      position: fixed;
      padding: 5px; }
      ._-search__bar button svg:hover {
        color: white; }
    ._-search__bar--hidden {
      display: none; }

._-sticky {
  height: 100%;
  width: 100%;
  z-index: 1020; }
  ._-sticky--hauled > * {
    width: inherit;
    position: relative;
    top: inherit; }
  ._-sticky--active > * {
    position: fixed !important;
    top: inherit; }
  ._-sticky--topped > * {
    z-index: 1090; }

/*!
 * Font Awesome Free 5.1.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
svg:not(:root).svg-inline--fa {
  overflow: visible; }

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em; }
  .svg-inline--fa.fa-lg {
    vertical-align: -.225em; }
  .svg-inline--fa.fa-w-1 {
    width: 0.0625em; }
  .svg-inline--fa.fa-w-2 {
    width: 0.125em; }
  .svg-inline--fa.fa-w-3 {
    width: 0.1875em; }
  .svg-inline--fa.fa-w-4 {
    width: 0.25em; }
  .svg-inline--fa.fa-w-5 {
    width: 0.3125em; }
  .svg-inline--fa.fa-w-6 {
    width: 0.375em; }
  .svg-inline--fa.fa-w-7 {
    width: 0.4375em; }
  .svg-inline--fa.fa-w-8 {
    width: 0.5em; }
  .svg-inline--fa.fa-w-9 {
    width: 0.5625em; }
  .svg-inline--fa.fa-w-10 {
    width: 0.625em; }
  .svg-inline--fa.fa-w-11 {
    width: 0.6875em; }
  .svg-inline--fa.fa-w-12 {
    width: 0.75em; }
  .svg-inline--fa.fa-w-13 {
    width: 0.8125em; }
  .svg-inline--fa.fa-w-14 {
    width: 0.875em; }
  .svg-inline--fa.fa-w-15 {
    width: 0.9375em; }
  .svg-inline--fa.fa-w-16 {
    width: 1em; }
  .svg-inline--fa.fa-w-17 {
    width: 1.0625em; }
  .svg-inline--fa.fa-w-18 {
    width: 1.125em; }
  .svg-inline--fa.fa-w-19 {
    width: 1.1875em; }
  .svg-inline--fa.fa-w-20 {
    width: 1.25em; }
  .svg-inline--fa.fa-pull-left {
    margin-right: .3em;
    width: auto; }
  .svg-inline--fa.fa-pull-right {
    margin-left: .3em;
    width: auto; }
  .svg-inline--fa.fa-border {
    height: 1.5em; }
  .svg-inline--fa.fa-li {
    width: 2em; }
  .svg-inline--fa.fa-fw {
    width: 1.25em; }

.fa-layers svg.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; }

.fa-layers {
  display: inline-block;
  height: 1em;
  position: relative;
  text-align: center;
  vertical-align: -.125em;
  width: 1em; }
  .fa-layers svg.svg-inline--fa {
    -webkit-transform-origin: center center;
            transform-origin: center center; }

.fa-layers-text, .fa-layers-counter {
  display: inline-block;
  position: absolute;
  text-align: center; }

.fa-layers-text {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center; }

.fa-layers-counter {
  background-color: #ff253a;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: .25em;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.fa-layers-bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right; }

.fa-layers-bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left; }

.fa-layers-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.fa-layers-top-left {
  left: 0;
  right: auto;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -.0667em; }

.fa-xs {
  font-size: .75em; }

.fa-sm {
  font-size: .875em; }

.fa-1x {
  font-size: 1em; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-6x {
  font-size: 6em; }

.fa-7x {
  font-size: 7em; }

.fa-8x {
  font-size: 8em; }

.fa-9x {
  font-size: 9em; }

.fa-10x {
  font-size: 10em; }

.fa-fw {
  text-align: center;
  width: 1.25em; }

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit; }

.fa-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1); }

.fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none; }

.fa-stack {
  display: inline-block;
  height: 2em;
  position: relative;
  width: 2em; }

.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; }

.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1em; }

.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2em; }

.fa-inverse {
  color: #fff; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

._-nav {
  background-color: #232a3d;
  color: white; }
  ._-sticky--topped ._-nav {
    background-color: rgba(245, 245, 245, 0.95);
    color: #232a3d; }
  ._-nav div > a {
    color: inherit; }
    ._-nav div > a:hover {
      opacity: .75;
      transition: 0.25s; }
  ._-nav__link {
    font-size: small;
    padding: 0 .5em;
    margin: 0 .5em;
    text-transform: uppercase; }
    ._-nav__link--active {
      border-bottom: 2px solid white;
      padding-bottom: .25em; }
    ._-sticky--topped ._-nav__link {
      font-weight: bold; }
      ._-sticky--topped ._-nav__link--active {
        border-bottom: 2px solid #0074D9; }
  ._-nav__left-menu a {
    text-decoration: none; }
    ._-nav__left-menu a:first-child {
      margin-right: 2.5em; }
  ._-nav__right-menu {
    text-align: right; }

._-button--signin {
  background-color: rgba(245, 245, 245, 0.1);
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  transition: none;
  width: 6em; }
  ._-button--signin:hover {
    background: rgba(245, 245, 245, 0.95);
    color: #232a3d;
    transition: 0.25s; }
  ._-sticky--topped ._-button--signin {
    color: #232a3d; }
    ._-sticky--topped ._-button--signin:hover {
      background: rgba(35, 42, 61, 0.1); }
  ._-button--signin a {
    color: inherit;
    text-decoration: none; }

._-section__header {
  background: #232a3d no-repeat center;
  background-size: cover;
  color: white;
  left: calc(-1 * (100vw - 100%) / 2);
  min-height: 12.5em;
  position: relative;
  width: 100vw;
  z-index: 1090; }
  ._-section__header > * {
    z-index: 1091; }
  ._-section__header__meta {
    height: 1.75em; }
  ._-section__header__edit__button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0; }
  ._-section__header__edit > * {
    margin-left: .5em; }
  ._-section__header__edit svg {
    background: whitesmoke;
    border-radius: .2em;
    color: #333;
    font-size: 2em;
    opacity: .9;
    padding: .2em;
    transition: 0.25s; }
    ._-section__header__edit svg:hover {
      color: whitesmoke;
      background: dimgray; }
      ._-section__header__edit svg:hover[data-icon="eraser"] {
        background: tomato; }
      ._-section__header__edit svg:hover[data-icon="pencil-alt"] {
        background: dodgerblue; }
  ._-section__header--with-overlay {
    min-height: 20em; }
    ._-section__header--with-overlay:before {
      background: linear-gradient(to bottom, rgba(35, 42, 61, 0.5), transparent 5%, rgba(0, 0, 0, 0.3));
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .6;
      position: absolute; }

._-body {
  background: white;
  min-height: 37em; }
  ._-body__post h2:not(:first-child) {
    margin-top: 1.75em; }
  ._-body__post li strong {
    color: crimson; }
  ._-body__post blockquote {
    border-left: .25em solid #AAA;
    color: #AAA;
    font-weight: 600;
    margin-left: 1em;
    padding-left: 1em; }
  ._-body__post img {
    width: 100%; }
  ._-body__post p {
    text-align: justify; }
  ._-body__card__header {
    background: #232a3d no-repeat center;
    background-size: cover;
    height: 11.5em;
    margin: auto -.5em; }
    ._-body__card__header > * {
      height: fit-content; }
  ._-body__card__date {
    border-radius: .3em;
    background: rgba(245, 245, 245, 0.3);
    color: white;
    font-weight: 600;
    font-size: .9em;
    height: fit-content;
    opacity: .8; }
  ._-body__card__title {
    font-size: 1.25em;
    font-weight: 400; }
    ._-body__card__title a {
      color: white; }
  ._-body__content p {
    padding-bottom: 3em; }
  ._-body__content__table {
    border-bottom: 1px #dee2e6 solid; }

._-footer {
  background: rgba(245, 245, 245, 0.95);
  color: #666;
  font-size: small;
  min-height: 12em; }
  ._-footer p:first-child {
    font-weight: bold; }
  ._-footer a {
    color: #333;
    text-decoration: underline; }
    ._-footer a:hover {
      color: #666; }
  ._-footer #socialLinks a[title="GitHub"] {
    background: linear-gradient(to bottom, #333333, #333333 50%, transparent 50%, transparent) 0 -100%;
    background-size: 100% 200%;
    display: inline-block;
    height: 2.5em;
    margin: 0 .2em;
    text-align: center;
    transition: background-position .2s ease-in;
    width: 2.5em; }
    ._-footer #socialLinks a[title="GitHub"]:hover {
      color: white;
      background-position: 0 0; }
  ._-footer #socialLinks a[title="LinkedIn"] {
    background: linear-gradient(to bottom, #0077B5, #0077B5 50%, transparent 50%, transparent) 0 -100%;
    background-size: 100% 200%;
    display: inline-block;
    height: 2.5em;
    margin: 0 .2em;
    text-align: center;
    transition: background-position .2s ease-in;
    width: 2.5em; }
    ._-footer #socialLinks a[title="LinkedIn"]:hover {
      color: white;
      background-position: 0 0; }
  ._-footer #socialLinks a[title="Facebook"] {
    background: linear-gradient(to bottom, #3B5998, #3B5998 50%, transparent 50%, transparent) 0 -100%;
    background-size: 100% 200%;
    display: inline-block;
    height: 2.5em;
    margin: 0 .2em;
    text-align: center;
    transition: background-position .2s ease-in;
    width: 2.5em; }
    ._-footer #socialLinks a[title="Facebook"]:hover {
      color: white;
      background-position: 0 0; }
  ._-footer #socialLinks svg {
    font-size: 2.5em;
    padding: .15em;
    transition: 0.25s; }

._-form__row {
  width: 100%; }
  ._-form__row > * {
    background-color: white;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 0 0;
    height: 2.5em;
    margin: 0;
    padding: 0 .5em;
    transition: 0.25s; }
    ._-form__row > *:focus {
      background-color: rgba(245, 245, 245, 0.35);
      outline: none; }
    ._-form__row > *:first-child {
      border-left-width: 1px; }
  ._-form__row:last-child > * {
    border-bottom-width: 1px; }
  ._-form__row > textarea {
    margin-bottom: -.4em;
    height: auto;
    resize: none; }
  ._-form__row > button:not([disabled]):hover {
    background-color: dodgerblue;
    color: white; }


/*# sourceMappingURL=style.css.map*/