._-body {
  background: white;
  min-height: 37em;

  &__post {
    & h2:not(:first-child) {
      margin-top: 1.75em;
    }
    & li strong {
      color: crimson;
    }
    & blockquote {
      border-left: .25em solid #AAA;
      color: #AAA;
      font-weight: 600;
      margin-left: 1em;
      padding-left: 1em;
    }
    & img {
      width: 100%;
    }
    & p {
      text-align: justify;
    }
  }

  &__card {
    &__header {
      background: #232a3d no-repeat center;
      background-size: cover;
      height: 11.5em;
      margin: auto -.5em;

      & > * {
        height: fit-content;
      }
    }

    &__date {
      border-radius: .3em;
      background: rgba(whitesmoke, .3);
      color: white;
      font-weight: 600;
      font-size: .9em;
      height: fit-content;
      opacity: .8;
    }

    &__title {
      font-size: 1.25em;
      font-weight: 400;
      & a {
        color: white;
      }
    }
  }

  &__content {
    & p {
      padding-bottom: 3em;
    }

    &__table {
      border-bottom: 1px #dee2e6 solid;
    }
  }
}
